In [3]:
import pandas as pd 
import numpy as np 
import ggplot as g 
import datetime 
from ggplot import * 
from numpy import convolve 
import matplotlib.pyplot as plt

In [4]:
%pwd

u'/home/osboxes/app/Master-BigData-CIFF-2016/entornos-DS-python'

In [5]:
##Funcion lambda para la trnasformacion de los timestamps en fechas
changeToDate = lambda x: datetime.datetime.utcfromtimestamp(x).strftime('%d/%m/%Y')

In [6]:
#Lectura de cada fichero con los datos de la fluctuacion del bitcoin por moneda  
dfCNY = pd.read_csv("data/anxhkCNY.csv") 
dfCNY.columns=['date','price','amount'] 
dfCNY["currency"] = "CNY" 
dfCNY['date']=dfCNY['date'].apply(changeToDate)
dfCNY.head(5)

         date        price    amount currency
0  22/10/2013  1259.842519  0.010000      CNY
1  27/10/2013  1198.412822  0.083444      CNY
2  29/10/2013  1262.698413  0.079000      CNY
3  31/10/2013  1309.523809  0.300000      CNY
4  31/10/2013  1349.206349  0.544861      CNY

In [7]:


dfEUR = pd.read_csv("data/anxhkEUR.csv")
dfEUR.columns=['date','price','amount'] 
dfEUR["currency"] = "EUR" 
dfEUR['date']=dfEUR['date'].apply(changeToDate)
#dfGBP = pd.read_csv("data/anxhkGBP.csv") 
#dfGBP.columns=['date','price','amount']
#dfGBP["currency"] = "GBP" 
#dfGBP["date"].apply(changeToDate)
#dfJPY = pd.read_csv("data/anxhkJPY.csv")
#dfJPY.columns=['date','price','amount']
#dfJPY["currency"] = "JPY" 
#dfJPY["date"].apply(changeToDate)
#dfUSD = pd.read_csv("data/anxhkUSD.csv")
#dfUSD.columns=['date','price','amount']
#dfUSD["currency"] = "USD" 
#dfUSD["date"].apply(changeToDate)

#dfTotal = dfCNY.merge(dfEUR.merge(dfGBP.merge(dfJPY.merge(dfUSD,how='outer'),how='outer'),how='outer'),how='outer')
dfTotal = dfCNY.merge(dfEUR,how='outer')
dfTotal.head(5)

         date        price    amount currency
0  22/10/2013  1259.842519  0.010000      CNY
1  27/10/2013  1198.412822  0.083444      CNY
2  29/10/2013  1262.698413  0.079000      CNY
3  31/10/2013  1309.523809  0.300000      CNY
4  31/10/2013  1349.206349  0.544861      CNY

In [8]:
#establecer como indice la fecha de la medicion
dfTotal= dfTotal.set_index(['date'])
dfTotal= dfTotal.dropna()
dfTotal.head(5)
#guardar a excel por si fuese necesario comprobar resultados
dfTotal.to_csv('dfTotal.csv')

In [35]:
#calculo de las fechas donde se btubo mayor valor y menor precio de cotizacion.
max_day= dfTotal['price'].idxmax()
min_day = dfTotal['price'].idxmin()
#si fuese necesairo ordenar el dataframe
#merged_data = merged_data.sort_values(by=['Close Price'], ascending=[True])
print max_day
print min_day

#Calculo de la media movil en una ventana de 60
r=dfTotal.rolling(window=60)
print type(r.mean())
#Se borran valores no numericos del calculo de la media movil
rollingMean = r.mean().dropna()

#estos son los intentos de plotear la media movil sin exito.
xx = rollingMean.reset_index()
print xx
%matplotlib inline
#merged_data.plot(style='k')
#r.mean().plot(style='k')
#ggplot(rollinMeanNAN, aes('date','price',color='currency'))+ geom_line(size=2.)
#ggplot(aes(y='price', color='currency'), data=rollingMean) + geom_point()
ggplot(xx.price, aes(date, price)) + geom_lines()

04/08/2014
14/01/2015
<class 'pandas.core.frame.DataFrame'>
               date        price    amount currency
0        21/11/2013  2745.725982  0.930309      CNY
1        21/11/2013  2793.919083  0.930476      CNY
2        21/11/2013  2855.966533  0.929409      CNY
3        21/11/2013  2911.588255  0.928438      CNY
4        22/11/2013  2956.429525  0.923785      CNY
5        22/11/2013  3003.131891  0.916037      CNY
6        22/11/2013  3061.254461  0.913451      CNY
7        22/11/2013  3123.349317  0.905462      CNY
8        22/11/2013  3184.134948  0.904859      CNY
9        22/11/2013  3245.880355  0.804789      CNY
10       22/11/2013  3309.539242  0.790674      CNY
11       23/11/2013  3375.970932  0.743306      CNY
12       23/11/2013  3442.883630  0.612473      CNY
13       23/11/2013  3517.883630  0.598040      CNY
14       23/11/2013  3591.116919  0.606506      CNY
15       23/11/2013  3661.636086  0.590340      CNY
16       23/11/2013  3733.196932  0.589766      CNY
17       23/11/2013  3799.665184  0.588587      CNY
18       24/11/2013  3859.209825  0.572237      CNY
19       24/11/2013  3911.585279  0.557119      CNY
20       24/11/2013  3963.501945  0.556319      CNY
21       24/11/2013  4022.903166  0.474061      CNY
22       24/11/2013  4081.683343  0.474023      CNY
23       25/11/2013  4133.847715  0.450903      CNY
24       25/11/2013  4186.013118  0.444893      CNY
25       25/11/2013  4244.187721  0.444893      CNY
26       25/11/2013  4301.330578  0.291143      CNY
27       25/11/2013  4352.738224  0.293415      CNY
28       25/11/2013  4400.795967  0.289780      CNY
29       25/11/2013  4444.711310  0.281452      CNY
...             ...          ...       ...      ...
1271672  10/10/2015   215.394268  0.286433      EUR
1271673  10/10/2015   215.399572  0.286100      EUR
1271674  10/10/2015   215.404934  0.288600      EUR
1271675  10/10/2015   215.405482  0.286600      EUR
1271676  10/10/2015   215.410847  0.287050      EUR
1271677  10/10/2015   215.416588  0.282717      EUR
1271678  10/10/2015   215.422299  0.282633      EUR
1271679  10/10/2015   215.427998  0.283683      EUR
1271680  10/10/2015   215.433561  0.281350      EUR
1271681  10/10/2015   215.439276  0.281017      EUR
1271682  10/10/2015   215.529984  0.419773      EUR
1271683  10/10/2015   215.595480  0.419842      EUR
1271684  10/10/2015   215.601306  0.420175      EUR
1271685  10/10/2015   215.673646  0.417791      EUR
1271686  10/10/2015   215.679428  0.416908      EUR
1271687  10/10/2015   215.751779  0.416404      EUR
1271688  10/10/2015   215.757722  0.414787      EUR
1271689  10/10/2015   215.763702  0.410787      EUR
1271690  10/10/2015   215.770063  0.408404      EUR
1271691  10/10/2015   215.839897  0.407875      EUR
1271692  10/10/2015   215.827826  0.407875      EUR
1271693  10/10/2015   215.898248  0.406189      EUR
1271694  10/10/2015   215.901197  0.407922      EUR
1271695  10/10/2015   215.904173  0.410789      EUR
1271696  10/10/2015   215.905029  0.409839      EUR
1271697  10/10/2015   215.910276  0.408572      EUR
1271698  10/10/2015   215.915529  0.412472      EUR
1271699  10/10/2015   215.918841  0.412339      EUR
1271700  10/10/2015   215.923915  0.410839      EUR
1271701  10/10/2015   215.927652  0.408839      EUR

[1271702 rows x 4 columns]

NameError: name 'date' is not defined

In [34]:
#Obtener el dia del máximo spread (diferencia entre el mayor valor del precio y el menor)
temporal = dfTotal.reset_index()
temporal.head(5)
spread = temporal.groupby('date')
maxPriceByDate= spread['price'].max()
minPriceByDate= spread['price'].min()
spreaddf =maxPriceByDate - minPriceByDate
spreadMax =spreaddf.max()
print spreadMax
spreadMean = spreaddf.mean()
print spreadMean

date
01/01/2014    5071.000000
01/01/2015    1734.769220
01/02/2014     117.888890
01/02/2015    1285.866970
01/03/2015    1419.064700
01/04/2015    1326.023440
01/05/2015    1265.249390
01/06/2014    3530.025940
01/06/2015    1246.765150
01/07/2014    3674.598590
01/07/2015    1403.557810
01/08/2014    3321.866120
01/08/2015    1524.626870
01/09/2014    2688.812710
01/09/2015    1308.920560
01/10/2014    2098.064290
01/10/2015    1344.843310
01/11/2013       0.000000
01/11/2014    1833.420780
01/12/2013     719.753314
01/12/2014    2103.126640
02/01/2014    5416.000000
02/01/2015    1718.825900
02/02/2014     156.000321
02/02/2015    1309.026060
02/03/2015    1515.715760
02/04/2014      19.144734
02/04/2015    1343.978730
02/05/2014       0.000000
02/05/2015    1253.530900
                 ...
30/01/2015    1326.451840
30/03/2015    1423.327190
30/04/2015    1288.450700
30/05/2014    3413.257890
30/05/2015    1256.605190
30/06/2014    3659.026740
30/06/2015    1433.920320
30/07/2014    3276.571300
30/07/2015    1540.001050
30/08/2014    2768.717190
30/08/2015    1294.353830
30/09/2014    2171.349960
30/09/2015    1330.442440
30/10/2014    1909.794470
30/11/2014    2069.288610
30/12/2013    5012.820500
30/12/2014    1725.924620
31/01/2014      97.806420
31/01/2015    1283.527050
31/03/2015    1344.785250
31/05/2014    3428.982250
31/05/2015    1241.170140
31/07/2014    3318.145320
31/07/2015    1533.268100
31/08/2014    2747.371370
31/08/2015    1286.438570
31/10/2013      97.237845
31/10/2014    1871.909290
31/12/2013    5186.870134
31/12/2014    1737.337440
Name: price, dtype: float64
30328.02253
1986.35861052

In [ ]:
#Dibujar las diferentes series dos a dos marcando los dias de máximos spreads de otro color

In [ ]:
#get day from max and min
max_day = merged_data["Date",max("")]