In [3]:
import pandas as pd
import numpy as np
#Read chunks 
df1 = pd.read_csv("data/chunk1.csv")
df2 = pd.read_csv("data/chunk2.csv")
df3 = pd.read_csv("data/chunk3.csv")

In [16]:
print df1.count()+df2.count()+df3.count()

Date           595
Close Price    589
dtype: int64

In [9]:
df1.head(5)

                  Date  Close Price
0  2015-04-01 00:00:00       246.55
1  2015-04-02 00:00:00       252.26
2  2015-04-03 00:00:00       253.54
3  2015-04-04 00:00:00       253.12
4  2015-04-05 00:00:00       259.95

In [11]:
#merge data into one dataset
merged_data = df1.merge(df2.merge(df3,how="outer"),how="outer")
print merged_data.count()
#set index Date column
merged_data= merged_data.set_index(['Date'])
merged_data= merged_data.dropna()
print merged_data.count()

Date           448
Close Price    446
dtype: int64
Close Price    446
dtype: int64

In [42]:
#check nulls, so remove values.
max_day= merged_data.idxmax()
min_day = merged_data.idxmin()

In [ ]:
#get day from max and min
max_day = merged_data["Date",max("")]