In [238]:
import pandas as pd 
import numpy as np 
import ggplot as g 
import datetime 
from ggplot import * 
from numpy import convolve 
import matplotlib.pyplot as plt

In [239]:
%pwd

u'/home/osboxes/app/Master-BigData-CIFF-2016/entornos-DS-python'

In [250]:
changeToDate = lambda x: datetime.datetime.utcfromtimestamp(x).strftime('%d/%m/%Y')

In [255]:
#Read chunks 
dfCNY = pd.read_csv("data/anxhkCNY.csv") 
dfCNY.columns=['date','price','amount'] 
dfCNY["currency"] = "CNY" 
dfCNY['date']=dfCNY['date'].apply(changeToDate)
dfCNY.head(5)

         date        price    amount currency
0  22/10/2013  1259.842519  0.010000      CNY
1  27/10/2013  1198.412822  0.083444      CNY
2  29/10/2013  1262.698413  0.079000      CNY
3  31/10/2013  1309.523809  0.300000      CNY
4  31/10/2013  1349.206349  0.544861      CNY

In [260]:


dfEUR = pd.read_csv("data/anxhkEUR.csv")
dfEUR.columns=['date','price','amount'] 
dfEUR["currency"] = "EUR" 
dfEUR['date']=dfEUR['date'].apply(changeToDate)
#dfGBP = pd.read_csv("data/anxhkGBP.csv") 
#dfGBP.columns=['date','price','amount']
#dfGBP["currency"] = "GBP" 
#dfGBP["date"].apply(changeToDate)
#dfJPY = pd.read_csv("data/anxhkJPY.csv")
#dfJPY.columns=['date','price','amount']
#dfJPY["currency"] = "JPY" 
#dfJPY["date"].apply(changeToDate)
#dfUSD = pd.read_csv("data/anxhkUSD.csv")
#dfUSD.columns=['date','price','amount']
#dfUSD["currency"] = "USD" 
#dfUSD["date"].apply(changeToDate)

#dfTotal = dfCNY.merge(dfEUR.merge(dfGBP.merge(dfJPY.merge(dfUSD,how='outer'),how='outer'),how='outer'),how='outer')
dfTotal = dfCNY.merge(dfEUR,how='outer')
dfTotal.head(5)

         date        price    amount currency
0  22/10/2013  1259.842519  0.010000      CNY
1  27/10/2013  1198.412822  0.083444      CNY
2  29/10/2013  1262.698413  0.079000      CNY
3  31/10/2013  1309.523809  0.300000      CNY
4  31/10/2013  1349.206349  0.544861      CNY

In [261]:
dfTotal=dfTotal.drop_duplicates('date')

In [262]:
#set index
dfTotal= dfTotal.set_index(['date'])
dfTotal= dfTotal.dropna()
dfTotal.head(5)

                  price    amount currency
date
22/10/2013  1259.842519  0.010000      CNY
27/10/2013  1198.412822  0.083444      CNY
29/10/2013  1262.698413  0.079000      CNY
31/10/2013  1309.523809  0.300000      CNY
01/11/2013  1313.492063  0.070000      CNY

In [263]:
#check nulls, so remove values.
max_day= dfTotal.idxmax()
min_day = dfTotal.idxmin()
#order the dataframe
#merged_data = merged_data.sort_values(by=['Close Price'], ascending=[True])
print max_day
print min_day

r=dfTotal.rolling(window=60)
r.mean()
#merged_data.plot(style='k')
r.mean().plot(style='k')
#qplot(data=r.mean(),  y="Close Price")
#p + xlab("experience") + ylab("salary")+ geom_point()

ValueError: could not convert string to float: EUR

In [ ]:
#get day from max and min
max_day = merged_data["Date",max("")]